body {
	background: url("../images/36.jpg");
	background-repeat: no-repeat;
	background-color: white;
	font-family: 'Arimo', sans-serif;
	margin: 40px 0 40px 0;
	padding: 0;
	text-align: center;
}
#wrapper {
	width: 730px;
	margin: 0 auto;
	padding: 40px;
	background: white;
	border-radius: 7px;
}
#wrapper > input {
	width: 400px;
	padding: 11px;
}
#wrapper > h1 {
	margin: 0 0 60px 0;
	padding: 0;
	font-size: 40px;
}
#wrapper > input {
	margin: 0 0 10px 0;
	border-radius: 3px;
	border: 1px solid #e4e4e4;
}
#wrapper > button {
	font-family: 'Arimo', sans-serif;
	letter-spacing: 0.8px;
	margin: 1px 0 30px 0;
	padding: 8px 21px;
	background: #f7f7f7;
	border-radius: 2px;
	border: 1px solid #e4e4e4;
	color: gray;
	cursor: pointer;
}
#wrapper > button:hover {
	transition: all 0.8s ease;
	background: rgba(247, 247, 247, 0.1);
}
#wrapper > div {
	width: 400px;
	margin: 0 auto;
	padding: 10px 15px;
	height: 200px;
	background: #f7f7f7;
	border-radius: 5px;
	font-size: 19px;
	text-align: left;
	color: gray;
	letter-spacing: 1px;
}
footer {
	margin: 10px 5px;
}
footer > p:first-of-type {
	width: 580px;
	margin: 0 auto;
	padding: 7px 0;
	font-weight: bold;
	background: white;
	border-radius: 3px;
	letter-spacing: 0.5px;
}
footer > p:last-of-type {
	width: 380px;
	margin: 0 auto;
	padding: 7px 0;
	font-weight: bold;
	background: white;
	border-radius: 3px;
	letter-spacing: 0.5px;
	display: none;
}
footer > p > a {
	color: #ac5b3d;
	text-decoration: none;
}
@media screen and (max-width: 860px) {
	#wrapper {
		width: 560px;
	}
}
@media screen and (max-width: 710px) {
	#wrapper {
		width: 360px;
	}
	#wrapper > h1 {
		font-size: 37px;
	}
	#wrapper > input {
		width: 330px;
	}
	#wrapper > div {
		width: 330px;
	}
	footer > p:first-of-type {
		display: none;
	}
	footer > p:last-of-type {
		display: block;
	}
}
::-webkit-input-placeholder {
	letter-spacing: 1px;
	font-family: 'Arimo', sans-serif;
}
:-moz-placeholder {
	font-family: 'Arimo', sans-serif;
}
::-moz-placeholder {
	font-family: 'Arimo', sans-serif;
}
:-ms-input-placeholder {  
	font-family: 'Arimo', sans-serif;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
input, select, textarea {
	font-family: 'Arimo', sans-serif;
	letter-spacing: 1px;
}